
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin Panel</title>
    <link href="~/web/dist/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/Main/HomePage/">E-Restaurant</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars" style="margin-left:30px;margin-top:10px;"></i>
        </button><!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Aranacak Kelime..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    
                   
                    <a class="dropdown-item" href="/Admin/LoginForAdmin">Çıkış Yap</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Admin Menüsü</div>
                        <a class="nav-link" href="/Admin/Foods/">
                            <div class="sb-nav-link-icon"><i class="fas fa-file"></i></div>
                            Yemekler
                        </a>
                        <a class="nav-link" href="/Admin/Drinks/">
                            <div class="sb-nav-link-icon"><i class="fas fa-inbox"></i></div>
                            İçecekler
                        </a>
                        <a class="nav-link" href="/Admin/Desserts/">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Tatlılar
                        </a>
                        <a class="nav-link" href="/Admin/Breakfasts/">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Kahvaltılar
                        </a>
                        <a class="nav-link" href="/Admin/Salads/">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Salatalar
                        </a>
                        <a class="nav-link" href="/Admin/StudentMenus/">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Öğrenci Menüleri
                        </a>
                        <a class="nav-link" href="/Admin/PopularMenus/">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Popüler Menüler
                        </a>


                        
                        
                    </div>
                </div>

            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/web/dist/js/scripts.js"></script>
</body>
</html>
