
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>E-Restaurant</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/freshshop/images/favicon.ico" type="/freshshop/image/x-icon">
    <link rel="apple-touch-icon" href="/freshshop/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/freshshop/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/freshshop/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/freshshop/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/freshshop/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="login-box">
                        <ul class="navbar-nav ml-auto ml-md-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">

                                    <a class="dropdown-item" href="/Admin/LoginForUser"> Giriş Yap</a>
                                    <a class="dropdown-item" href="/Admin/LoginForAdmin">Admin Girişi</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="/freshshop/images/logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="/Main/HomePage/">Anasayfa</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Hakkımızda</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Main/ShopPage">Alışveriş</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Bize Ulaşın</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
               
            </div>
            <!-- Start Side Menu -->
            
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
    
    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="~/freshshop/images/banner1.jpeg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Lezzet Dükkanına <br> Hoşgeldiniz</strong></h1>
                            <p class="m-b-40">En Lezzetli <br>Ve En Ucuz Ziyafetler için</p>
                            <p><a class="btn hvr-hover" href="/Main/ShopPage">Şimdi Alışverişe Başla</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="/freshshop/images/banner2.JPG" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Lezzet Dükkanına <br> Hoşgeldiniz</strong></h1>
                            <p class="m-b-40">En Lezzetli <br>Ve En Ucuz Ziyafetler için</p>
                            <p><a class="btn hvr-hover" href="/Main/ShopPage">Şimdi Alışverişe Başla</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="~/freshshop/images/banner3.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Lezzet Dükkanına <br> Hoşgeldiniz</strong></h1>
                            <p class="m-b-40">En Lezzetli <br>Ve En Ucuz Ziyafetler için</p>
                            <p><a class="btn hvr-hover" href="/Main/ShopPage">Şimdi Alışverişe Başla</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->
    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="/freshshop/images/sm5.png" alt="" />
                        <a class="btn hvr-hover" href="/Main/Om">Öğrenci Menülerimiz</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="/freshshop/images/sm6.png" alt="" />
                        <a class="btn hvr-hover" href="/Main/Pm">Popüler Menülerimiz</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="/freshshop/images/t1.png" alt="" />
                        <a class="btn hvr-hover" href="/Main/SutluT">Tatlılarımız</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->

   
    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Lezzet Çeşitlerimiz</h1>
                        <p>Birbirinden Lezzetli Yiyecekler,Tatlılar Ve İçecekler</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">Tümü</button>
                            <button data-filter=".top-featured">Popüler Lezzetler</button>
                            <button data-filter=".best-seller">Serinletici Lezzetler</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="~/freshshop/images/sm7.png" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Yarım Ekmek Arası Tavuk Döner Menü</h4>
                            <h5> 15TL</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">Sale</p>
                            </div>
                            <img src="~/freshshop/images/sm8.png" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Tavuk Dürüm Menü</h4>
                            <h5> 20TL</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid  best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="~/freshshop/images/si1.png" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Ice Americano</h4>
                            <h5> 15TL</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="~/freshshop/images/si2.png" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>White Chocolate Mocha</h4>
                            <h5> 15TL</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Products  -->
    <!-- Start Blog  -->
    <!-- End Blog  -->
    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="~/freshshop/images/t2.png" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="~/freshshop/images/ay2.png" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>


            <div class="item">
                <div class="ins-inner-box">
                    <img src="~/freshshop/images/ç1.png" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="~/freshshop/images/t2.png" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="ins-inner-box">
                    <img src="~/freshshop/images/ç2.png" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="~/freshshop/images/ç1.png" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->
   
    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">
            All Rights Reserved. &copy; 2021  Design By :
            Erencan OYMAK
        </p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="/freshshop/js/jquery-3.2.1.min.js"></script>

    <script src="/freshshop/js/popper.min.js"></script>
    <script src="/freshshop/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/freshshop/js/jquery.superslides.min.js"></script>
    <script src="/freshshop/js/bootstrap-select.js"></script>
    <script src="/freshshop/js/inewsticker.js"></script>
    <script src="/freshshop/js/bootsnav.js."></script>
    <script src="/freshshop/js/images-loded.min.js"></script>
    <script src="/freshshop/js/isotope.min.js"></script>
    <script src="/freshshop/js/owl.carousel.min.js"></script>
    <script src="/freshshop/js/baguetteBox.min.js"></script>
    <script src="/freshshop/js/form-validator.min.js"></script>
    <script src="/freshshop/js/contact-form-script.js"></script>
    <script src="/freshshop/js/custom.js"></script>
</body>

</html>